body {
  margin : 0 30px;
}

/* heaer  */
.header {
  width: 100%;
  height: 60px;
  border: 1px solid black;
  display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo{
  margin-left: 30px;
}
.login{
  margin-right: 20px;
}

/* contents */
.contents {
  width: 100%;
  height: 655px;
  margin: 0 auto;
}
.side {
  border: 1px solid black;
  float: left;
  width: 15%;
  height: 100%;
}
.side > ul {
  list-style: none;
  line-height: 30px;
}
.article {
  border: 1px solid black;
  float: right;
  width: 84%;
  height: 100%;
}

/* footer */
.footer {
  border: 1px solid black;
}